body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("https://images.unsplash.com/photo-1501630834273-4b5604d2ee31")
    no-repeat center center/cover;
  min-height: 100vh;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  text-align: center;
  /* background: rgba(255, 255, 255, 0.85); */
  border-radius: 12px;
  margin-top: 30px;
}

.search-box {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #4a90e2;
  color: white;
  font-weight: bold;
}

button:hover {
  background: #357abd;
}

.card {
  background: white;
  padding: 15px;
  margin: 15px auto;
  border-radius: 10px;
  max-width: 250px;
}

.compare {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.favorites button {
  margin: 5px;
}
